<!DOCTYPE html>
<html lang="en">

<head>
    <title>Atahan's Weather App Home Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">


    <style>
               
        body {
            font-family: "Rubik", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-image: url("images/bg-image.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">Atahan's Awesome Weather App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <h1 class="yazi">Welcome to Atahan's</h1><h1 class="Awesome">Awesome</h1> <h1 class="yazi">Weather App</h1>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a>Click Below to Check the Legacy Version.</a>
                    <br>
                    <a href="/version1">First Version of Awesome Weather App</a>

                </div>
                <div class="col-md-6">
                    <h4>Social Media</h4>
                    <div>
                        <a href="https://open.spotify.com/artist/03ZySW8RTur8vxtdKOtKfq?si=i8brFs_YQ9KQZ7EOEoZA2A&nd=1&dlsi=88febedaed9b4b4b" class="bi bi-spotify">🎧</i></a>
                        <a href="https://www.youtube.com/channel/UCdvAI-sMJ4CpLwa2cn0Bteg" class="social-icons"><i class="Youtube"></i>📺</a>
                        <a href="https://www.instagram.com/whoisatahan/" class="social-icons"><i class="Instagram"></i>📸</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
