<!doctype html>
<html lang="en">

<head>
    <title>Atahan's Awesome Weather App V2</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/main">Atahan's Awesome Weather App</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index" style="color: rgb(223, 0, 0);">Sign Out</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="weather-app">
        <div class="container"> 
            <h3 class="brand"></h3>
            <div>
                <h1 class="temp">16&#176;</h1>
                <div class="city-time">
                    <h1 class="name">Dublin</h1>
                        <small>
                            <span class="time">14:04</span>
                            <span class="date">Monday January 8</span>
                        </small>
                </div>
                <div class="weather">
                    <img src="icons/day/113.png"
                    class="icon"
                    alt="icon"
                    width="50"
                    height="50">
                <span class="condition">Cloudy</span>
            
            </div>

        </div>
    </div>
    <div class="panel">
        <form id="locationInput">
            <input type="text" class="search" placeholder="Search for a Location">

        <button type="submit" class="submit">
            <i class="fas fa-search">Search</i>
        </button>
    </form>
    <ul class="cities">
        <li class="city">Dublin</li>
        <li class="city">London</li>
        <li class="city">Tokyo</li>
        <li class="city">Los Angeles</li>
    </ul>

    <ul class="details">
        <h4>Weather Details</h4>
        <li>
            <span>Cloudy</span>
            <span class="cloud">%31</span>
        </li>
        <li>
            <span>Humidity</span>
            <span class="humidity">%56</span>
        </li>
        <li>
            <span>Wind Speed</span>
            <span class="wind">14km/h</span>
        </li>
    </ul>
 </div>
 </div>

 <script src="js/app.js"></script>
</body>

</html>