<!DOCTYPE html>
<html lang="en">

<head>
    <title>Version 1 - My Weather App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/version1.css">
<style>
    body {
    font-family: "Rubik", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(/images/matrix.jpg);
    text-shadow: -1px -1px 0 rgb(74, 72, 72);
    color: aliceblue;
    margin: 0;
}
</style>

</head>

<body>

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Atahan's Awesome Weather App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>

   
    <div class="container">
        <div class="content">
            <div class="image-container">
                <img src="images/ss1.png" alt="Screenshot 1">
            </div>
            <div class="text-field">
                <h2>Version 1: Atahan's (less) Awesome Weather App</h2>
                <p>This is the first version of my weather app. Since I had a little experience with web developing,
                    I want to take the high road and make my project mainly using Java.
                    But I totally forgot about the HTML-CSS-JS part and I made this project as a second version,
                    but a proper version, which fits the needs. To pay my respects,
                    I added screenshots and code snippeds from my old app to second page!</p>
            </div>
        </div>
    </div>

    <a class="second" href="/version1second">
        <button>2</button>
    </a>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
